<div class="box">
  <img src="/images/desconto.png
  " alt="desconto" />

  <div class="content">
    <h1>Get A Discount <br /> <span>For The Firts Consultation</span></h1>
  
    <input type="text" placeholder="Enter Your Name" />
    <input type="text" placeholder="Enter Your E-mail" />
  
    <div class="check">
      <input type="checkbox" />
      <p>[ ] I agree to receive commercial information from [Company Name] [*read more]</p>
    </div>
    
    <button type="button">Get It Now</button>

  </div>


</div>