<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>
  
  <section class="landing-page">
    <%- include("partials/boxContent.ejs") %>
    <%- include("partials/box.ejs") %>
  </section>

</body>
</html>